body{
    width:100%;
    height:auto;
    background:url(../img/img1.jpg);

}
h3{
    text-align: center;
    -webkit-user-select: none;
    font-size: 30px;
}
form{
    background:url(../img/a2.jpg)
}
.panel-title{
    font-size: 30px;
    transition: all linear .5s;
}
.panel-title:hover{
    transform: skew(20deg,0deg);
}
.add{
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    transition: all linear .5s;
}
.add:hover{
    transform: scale(1.2,1.2);
}
form{
    /*padding:10px;*/
    /*border:1px solid #ccc;*/
    box-shadow: 0 0 10px #1e1e1e;
    /*border-radius: 5px;*/
    width:30%;
    position: fixed;left:0;right:0;top:0;
    bottom: 0;margin:auto;
    height:350px;display: none;

}
.tianjia{
    width:100%;
    height:50px;
    /*background: #E2EAB9;*/
    margin:0;
    line-height:50px;
    text-align: center;
    font-size: 20px;
    /*color: #fbfbfb;*/
}
.form-group{
    padding:5px;
}

.quse{
    background: rgba(0,0,0,0);
}

@font-face {
    font-family: aa;       /*这里是说明调用来的字体名字*/
    src: url('../fonts/FZPTYJW.TTF');   /*这里是字体文件路径*/
    font-size: 50px;
}
.panel-heading h2{
    line-height: 60px;
    font-family: aa;
    font-size: 60px;
}

.con{
    width:300px;display: none;
    position: absolute;
    height:280px;left:0;top:0;
    background: url("../img/a2.jpg");
}
.con-con{
  width:100%;height:50px!important;overflow-y: scroll!important;
}